@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="card">
    <div class="row card-body d-flex justify-content-lg-center">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="row card-body d-flex justify-content-lg-center">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Een nieuw account aanmaken</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Voornaam"></label>
                    <input asp-for="Input.Voornaam" class="form-control" />
                    <span asp-validation-for="Input.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Achternaam"></label>
                    <input asp-for="Input.Achternaam" class="form-control" />
                    <span asp-validation-for="Input.Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Mobiel"></label>
                    <input asp-for="Input.Mobiel" class="form-control" />
                    <span asp-validation-for="Input.Mobiel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Postcode"></label>
                    <input asp-for="Input.Postcode" class="form-control" />
                    <span asp-validation-for="Input.Postcode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Gemeente"></label>
                    <input asp-for="Input.Gemeente" class="form-control" />
                    <span asp-validation-for="Input.Gemeente" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Land"></label>
                    <input asp-for="Input.Land" class="form-control" />
                    <span asp-validation-for="Input.Land" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Adres"></label>
                    <input asp-for="Input.Adres" class="form-control" />
                    <span asp-validation-for="Input.Adres" class="text-danger"></span>
                </div>
                <div class="form-inline">
                    <input asp-for="Input.IsBedrijf" class="form-control" style="width:15px; height:15px; margin-bottom: 10px;" />
                    <label asp-for="Input.IsBedrijf" style="margin-left:7px; margin-bottom: 10px;" class="control-label">Zakelijk account</label>
                </div>
                <div class="form-group">
                    <label asp-for="Input.BtwNummer" class="control-label"></label>
                    <input asp-for="Input.BtwNummer" class="form-control" />
                    <span asp-validation-for="Input.BtwNummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Firmanaam" class="control-label"></label>
                    <input asp-for="Input.Firmanaam" class="form-control" />
                    <span asp-validation-for="Input.Firmanaam" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registreer</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
