@model Webshop_CookInStyle.ViewModels.EditKlantVM


<div class="container">
    @{
        ViewData["Title"] = "Edit Klant";
    }

    <h1>Klant aanpassen</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditKlant">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Klant.Id" />
                <div class="form-group">
                    <label asp-for="Klant.Voornaam" class="control-label"></label>
                    <input asp-for="Klant.Voornaam" class="form-control" />
                    <span asp-validation-for="Klant.Voornaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Achternaam" class="control-label"></label>
                    <textarea asp-for="Klant.Achternaam" class="form-control"></textarea>
                    <span asp-validation-for="Klant.Achternaam" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.StraatEnNummer" class="control-label"></label>
                    <input asp-for="Klant.StraatEnNummer" class="form-control" />
                    <span asp-validation-for="Klant.StraatEnNummer" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.PostcodeID" class="control-label">Postcode en gemeente</label>
                    <select asp-for="Klant.PostcodeID" class="form-control" asp-items="Model.Postcodes"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.LandID" class="control-label">Land</label>
                    <select asp-for="Klant.LandID" class="form-control" asp-items="Model.Landen"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Email" class="control-label"></label>
                    <input asp-for="Klant.Email" class="form-control" />
                    <span asp-validation-for="Klant.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Telefoon" class="control-label"></label>
                    <input asp-for="Klant.Telefoon" class="form-control" />
                    <span asp-validation-for="Klant.Telefoon" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Klant.Mobiel" class="control-label"></label>
                    <input asp-for="Klant.Mobiel" class="form-control" />
                    <span asp-validation-for="Klant.Mobiel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MaakAdmin" class="control-label">Maak van dit account een Admin-account. <br /> <strong>LET OP! Admin heeft recht tot alle modules</strong></label>
                    <input asp-for="MaakAdmin" class="form-control" />
                </div>
                @if (Model.Klant.IsBedrijf == true)
                {
                    <div class="form-group">
                        <label asp-for="Klant.Naam" class="control-label"></label>
                        <input asp-for="Klant.Naam" class="form-control" />
                        <span asp-validation-for="Klant.Naam" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Klant.BtwNummer" class="control-label"></label>
                        <input asp-for="Klant.BtwNummer" class="form-control" />
                        <span asp-validation-for="Klant.BtwNummer" class="text-danger"></span>
                    </div>
                }
                <div class="form-group">
                    <input type="submit" value="Bewaar" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Terug</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}