@model Webshop_CookInStyle.ViewModels.AddAllergeenVM

@{
    ViewData["Title"] = "Allergenen";
}

<h1>Allergenen</h1>

<form asp-controller="AdminProducten" asp-action="ASearch" method="get">
    <div class="form-actions no-color">
        <p>
            Events zoeken:
            <input asp-for="AllergeenSearch" />
            <input type="submit" value="Zoeken" class="btn btn-primary" />
            <a asp-controller="AdminProducten" asp-action="AddAllergeen">Volledige lijst</a>
        </p>
    </div>
</form>
<div class="row">
    <div class="col-sm-6">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.AllergenenList[0].Omschrijving)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllergenenList)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Omschrijving)
                        </td>
                        <td>
                            <a asp-action="DeleteAllergeen" asp-route-id="@item.AllergeenID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
        <br />
        @if (ViewBag.Visibility == true)
        {
            <div class="alert alert-danger">
                <p>@ViewBag.ErrorMessage</p>
            </div>
        }



        <br />
        <form asp-action="CreateAllergeen">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Allergeen.Omschrijving" class="control-label"></label>
                <input asp-for="Allergeen.Omschrijving" class="form-control" />
                <span asp-validation-for="Allergeen.Omschrijving" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Terug</a>
</div>
