@model Webshop_CookInStyle.ViewModels.EditProductenVM

@{
    ViewData["Title"] = "Delete Confirm";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u het volgende product wenst te verwijderen</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Naam)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.Naam)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Product.ProductType.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Product.ProductType.Omschrijving)
        </dd>
    </dl>

    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="Product.ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug</a>
    </form>
</div>
