@model Webshop_CookInStyle.ViewModels.AddProductTypeVM

@{
    ViewData["Title"] = "Delete Confirm";
}

<h1>Verwijderen</h1>

<h3>Bent u zeker dat u het volgende producttype wenst te verwijderen</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductType.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductType.Omschrijving)
        </dd>
    </dl>

    <form asp-action="DeleteType">
        <input type="hidden" asp-for="ProductType.ProductTypeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Terug</a>
    </form>
</div>
